
<div  >
  <ng-container *ngIf="isDataAvailable">

  
  

  
  <form class="example-form " style="width: 1000px;"  [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div >
      <h2 mat-dialog-title>  Create a Request form </h2>
      <mat-dialog-content class="mat-typography" >
        <div  fxLayout="column" fxLayoutAlign="center center"  >
               <mat-form-field appearance="fill" class="example-form">
                 <mat-label>Select organization units</mat-label>
                 <mat-select formControlName="organizationunit"   #orgunit (selectionChange)="selectingorgunit($event.value)">
                  <mat-option [value] = "selecteditem.name" *ngFor="let selecteditem of selectedunits"> {{selecteditem.name}}</mat-option>       
                 </mat-select>
               </mat-form-field >
                  <mat-form-field appearance="fill"  class="example-form"   >
                    <mat-label>Select dataset</mat-label>
                    <mat-select formControlName="datasetsunit"  multiple>
                               <div   *ngFor="let data of  dataset " >  

                                  <div    *ngFor="let item of selecteddatasets.dataSets" >

                                 <mat-option  *ngIf="item.id==data.id"  [value]="data.name">   {{ data.name}} </mat-option>  
                
                                  </div>
                                  
                                </div>
                         
                    </mat-select>
                  </mat-form-field>    
                  </div>    
      
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button  color="primary"   (click) ="submitForm()" (click)=" openSnackBar()"  matDialogClose="yes">Submit</button>
      </mat-dialog-actions>
    </div>
    
    </form>
  </ng-container>
</div>







